.main {
  text-align: left;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  background-color: #555;
  padding: 3rem 0;
}
.category {
  margin: 0 1rem;
}
.cards-container {
  display: flex;
  overflow: scroll;
}
