.main {
  width: 100vw;
  height: 100vh;
  background-color: #555;
  /* padding: 3rem 0; */
  text-align: left;
  overflow: scroll;

  text-align: center;
}
.category {
  margin: 2rem 0.5rem;
  padding: 3rem 1rem 0;
  background-color: #555;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #333;
}

.header-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.read-more {
  background-color: coral;
  color: #fff;
  border-radius: 10px;
  padding: 0.5rem 1.3rem;
}

.loading,
.error {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555;
  color: #fff;
}

/* 
  display main
*/
/* .display-off {
  display: none;
}
.display-on22,
.display-on21,
.display-on20,
.display-on19,
.display-on18,
.display-on17,
.display-on16 {
  display: block;
}
.display-off22,
.display-off21,
.display-off20,
.display-off19,
.display-off18,
.display-off17,
.display-off16 {
  display: none;
}

.cat-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} */

.main {
  display: flex;
  flex-direction: column;
}
.part-category {
  height: 30%;
  display: flex;
  flex-direction: column;
}
.year-and-seasons {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.year-and-seasons div {
  width: 100%;
}
.years {
  height: 70%;
  overflow: scroll;
}
.years::-webkit-scrollbar {
  display: none;
}
.year:first-child {
  margin-top: 3rem;
}
.year:last-child {
  margin-bottom: 3rem;
}

/* Choosed Year */
.set-year {
  font-size: 30px;
  font-weight: 700;
}
.unset-year {
  font-size: 15px;
  font-weight: 700;
  color: #666;
}

.show-data {
  display: block;
}
.show-data-disable {
  display: none;
}
