.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 99;
}

.navbar {
  display: flex;
}
.link {
  padding: 0.5rem 1rem;
}

.search-form {
  height: 50px;
  display: flex;
  align-items: center;
}
.search-input {
  height: 70%;
}

.search-submit {
  height: 70%;
  padding: 0.3rem 1rem;
}
