.sidebar {
  padding: 3rem;
  background-color: #ccc;
}
.cat-container {
  text-align: left;
}
.categpries a {
  display: block;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}
.categpries a:hover {
  color: #fff;
}
