* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.home {
  height: auto;
  display: grid;
  grid-template-rows: 80px auto 30px;
}
.main-container {
  /* width: 100vw; */
  height: 100%;
  display: flex;
}
