* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.App {
  text-align: center;
}

.main-container {
  /* display: grid;
  max-width: 100%;
  grid-template-columns: 200px auto;
  grid-template-rows: 100%; */
  /* overflow: hidden; */
  width: 100vw;
  height: 100vh;
  display: flex;
}
